body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.first {
    background-color: #1F2937;
    padding: 0 200px 120px 200px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

.link,
.hero-secondary,
button {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-heading {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

img {
    height: 240px;
    width: 960px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: solid 1px #3882F6;
    border-radius: 8px;
    padding: 4px 32px;
    font-weight: bold;
    margin-top: 16px;
}

.header {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.hero {
    display: flex;
    margin-top: 100px;
}

.link {
    margin: 0 8px;
}


.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 120px 0;
}

.images {
    display: flex;
    column-gap: 16px;
    color: #1F2937;
}

.image {
    height: 200px;
    width: 200px;
    border: solid 3px #3882F6;
    border-radius: 20px;
}

.i {
    height: 250px;
    width: 200px;
    text-align: center;
}

.information {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 42px 0;
}


.third {
    background-color: #E5E7EB;
    padding: 120px 200px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
    text-align: center;
}

.thor {
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
    text-align: right;
}